<div class="section_container">
    <div class="title title_main">Welcome to Engineering mode</div>
    <div class="bloc_container">
        <div class="bloc">
            <div class="title_bloc">Information</div>
            <div class="info_bloc">
                User SSO: 
                <span class="input_zone blue">
                    <input id="user_sso_input_E" class="inp1" type="text" value="" placeholder="User SSO"/>
                </span><br>
                Family:
                <span class="input_zone blue">
                    <select id="family_input_E">
                        <option selected="selected">ELEGANCE</option>
                        <option>OMEGA</option>
                    </select>
                </span><br>
                Model:
                <span class="input_zone blue">
                    <select id="model_input_E">
                        <option selected="selected">TSSC</option>
                        <option>SMART BOX</option>
                        <option>SMART HANDLE</option>
                    </select>
                </span><br>
                <div id="family_choice" class="hidden"></div>
                <div id="model_choice" class="hidden"></div>
            </div>
            <div class="bouton_grey" id="send_info_hp_E">
                Send
            </div>
        </div>
        
        <div class="bloc information tsui_img hidden">
            <div class="title_bloc">TSUI Overview</div>
            <img class="photo_tsui" src="">
        </div>
        
        <div class="bloc information tsui_info hidden">
            <div class="title_bloc name"></div>
            <div class="info_bloc">
                Boot Config: <span class="boot_config blue"></span><br>
                FPGA Config: <span class="fpga_config blue"></span><br>
                Software Config: <span class="sw_config blue"></span><br>
                Unique ID: <span class="unic_config blue"></span><br>
            </div>
        </div>
        
        <div class="bloc information hidden">
            <div class="bouton toolbox" data-link="toolbox">
                <img class="circle" src="images/circle_calib.png"><span class="text">Continue</span>
            </div>            
        </div>
        
    </div>
</div>

<script>
$( "#family_input_E" )
  .change(function() {
    var str = "";
    $( "#family_input_E option:selected" ).each(function() {
      str += $( this ).text() + " ";
    });
    $( "#family_choice" ).text( str );
  })
  .trigger( "change" );
$( "#model_input_E" )
  .change(function() {
    var str = "";
    $( "#model_input_E option:selected" ).each(function() {
      str += $( this ).text() + " ";
    });
    $( "#model_choice" ).text( str );
  })
  .trigger( "change" );
</script>