.ui-dialog-titlebar-close{
    position: absolute;
    right: -25px;
    top: -10px;
    border: 2px solid red;
    background: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.ui-dialog.success-dialog {
    border: 2px solid #3b73b9;
    border-radius: 5px;
    padding: 15px;
    background: #f5f5f5;
}

.ui-dialog-titlebar{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #3b73b9;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 6px;
    color:white;
}

#dialog-spybox{
    
}
#dialog-link-spybox{
    background: none;
    border: 3px solid #3b73b9;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
#dialog-link-spybox, #dialog-link-sender, #dialog-link-calibration, #dialog-link-download{
    display:inline-block;
    vertical-align:top;
    width: 150px;
    background: none;
    border: 3px solid #3b73b9;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: #3b73b9;
    background: #f2f2f2;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px grey;
    img{
        width: 45px;
    }
}
.container_toolbox_bt{
    text-align:center;
}
    
    
#dialog-spybox{
    
    .option_line{        
        margin-top: 5px;
        padding: 2px;
        text-align: center;
        button{
            width: 70px;
            border-radius: 5px;
            margin: 3px;
            cursor: pointer;
        }
    }
    .filter_panel{
        background: #d2d2e2;
        padding: 8px;
        margin-top: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        position:relative;
        .recap_filter{
            font-weight: bold;
            margin-top: 6px;
            text-align: center;
        }
        .is_different_canid{
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            padding: 1px;
            cursor: pointer;
            margin-left: 8px;
            img{
                width:100%;
                height:auto;
            }
            &.activated{
                border:2px solid red;
                border-radius:5px;
            }
        }
        .is_different_candata{
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            padding: 1px;
            cursor: pointer;
            margin-left: 8px;
            img{
                width:100%;
                height:auto;
            }
            &.activated{
                border:2px solid red;
                border-radius:5px;
            }
        }
        .bt_filter{
            position: absolute;
            top: 18px;
            right: 3px;
        }
        button{
            width: 32px;
            border-radius: 5px;
            margin: 0px;
            cursor: pointer;
            img{
                width:100%;
                height:auto;
            }
        }
        .text{
            width: 150px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .head_line{
        border-bottom: 1px solid black;
        margin-top: 8px;
        height: 25px;
        font-weight: bold;
        span{
            display:inline-block;
            vertical-align:top;
            margin: 2px;
        }
        .canid_head{
            width:100px;
            color:orangered;
        }
        .candata_head{
            width:150px;
            color:green;
        }
        .number_head{
            width:80px;
        }
    }
    .content_line{
        margin-top:10px;
        height: 200px;
        overflow-y: scroll;
        span{
            display: inline-block;
            vertical-align: top;
            margin:2px;
        }
        .can_id_spy{
            width: 100px;
        }
        .can_data_spy{
            width: 150px;
        }
        .nb{
            width:80px;
        }
    }
}

#dialog-sender{
    .red{
            color:red;
        }
        .green{
            color:green;
        }
        .blue{
            color:blue;
        }
    .presentation_sender{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .text_sender{
        width: 82px;
        display: inline-block;
        vertical-align:middle;
    }
    .input_bloc_sender{
        margin-bottom: 15px;        
    }
    .error_sender{
        margin-top: 15px;
        font-weight: bold;
        color: red;
    }
    .result_sender{
        margin-top:15px;
        
    }
    .length_msg{
        margin-bottom: 15px;
    }
    .text_ref{
        display: inline-block;
        vertical-align: middle;
        width: 82px;
    }
    
}
.diag_inge{
    position:relative;
    margin-top:40px;
    .zone{
        border: 3px solid #3b73b9;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        
        .diag_component{ 
            &.is_pressed{
                img{
                    border: 4px solid #a3ec6d;
                }
            }
            width: 355px;
            .info_component{
                display: inline-block;
                vertical-align: middle;
                margin-left: 8px;
                .symbol{
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: bold;
                    width: 40px
                }
                .type{
                    display: inline-block;
                    vertical-align: middle;
                    width: 55px;
                    font-style: italic;
                }
                .descri{
                    display: inline-block;
                    vertical-align: middle;
                    width: 95px;
                }
                .press{
                    display: inline-block;
                    vertical-align: middle;
                    width: 30px;
                }
                .rel{
                    display: inline-block;
                    vertical-align: middle
                }
            }
            .photo_piece{
                display: inline-block;
                vertical-align: middle;
            }
            img{
                border-radius: 70px;
                width: 70px;
                height: 40px;
            }
        }
        &.zone_0{
            top:0;
            left:0;
        }
        &.zone_1{
            top: 269px;
            left: 0;
            width: 986px;
            text-align:center;
            width: 715px;
            margin: auto;
            right: 0;
            .diag_component{
                display: inline-block;
                vertical-align: top;
                text-align:left;
            }
        }
        &.zone_2{
            top: 0;
            right: 0;
            min-height: 220px;
        }
        &.zone_3{
            top: 93px;
            left: 0;
            width: 986px;
            width: 715px;
            margin: auto;
            right: -320px;
            .diag_component{
                display: inline-block;
                vertical-align: top;
                text-align:left;
            }
        }
        &.zone_4{
            top: 370px;
            left: 0;
            width: 986px;
            text-align: center;
            width: 715px;
            margin: auto;
            right: -320px;
            .diag_component{
                display: inline-block;
                vertical-align: top;
                text-align:left;
            }
        }
        &.zone_5{
            top: 657px;
            left: 0;
            width: 986px;
            text-align: center;
            width: 715px;
            margin: auto;
            right: -320px;
            .diag_component{
                display: inline-block;
                vertical-align: top;
                text-align:left;
            }
        }
    }
    .get_config{
        text-align: center;
        background: #f2f2f2;
        padding: 10px;
        width: 183px;
        border-radius: 5px;
        border: 2px solid black;
        display: inline-block;
        vertical-align: top;
        height: 128px;
        position: absolute;
        left: 398px;
        top: 83px;
        .bt_get_config{
            margin-bottom: 10px;
        }
        .config_info{
            text-align: left;
            .text_config{
                font-weight:bold;
            }
        }        
    }
    .show_joystick{
        text-align: center;
        background: #3b73b9;
        padding: 10px;
        color: white;
        width: 183px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        box-shadow: 2px 2px 2px black;        
    }
    .show_button{
        text-align: center;
        background: #3b73b9;
        padding: 10px;
        color: white;
        width: 183px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        box-shadow: 2px 2px 2px black;
    }
    
    .joystick_show{
        display:none;
        min-height:930px;
        .informations{
            width: 100px;
            margin-bottom: 10px;
            height: 15px;
            margin-top: 15px;
            .zero{
                float:left;

            }
            .cent{
                float:right;
            }
        }
        .jauge_container_global{
            text-align:center;
            top: 50px;
            position: absolute;
        }
        .canvas_jauge{
            position: relative;
            width: 177px;
            height: 278px;
            .title_jauge{
                font-weight: bold;
                font-size: 13px;
            }

            #jauge_joystick_horizontal_left{
                position: absolute;
                left: 0px;
                top: 90px;
                .jauge_container{
                    width: 100*0.75px;
                    height: 30*0.75px;
                    border: 1px solid black;
                    background:yellowgreen;
                    box-shadow: -2px 0px 5px 0px grey;
                }
                .jauge_remplissage{
                    width:100%;
                    height: 30*0.75px;
                    background:white;
                }
            }
            #jauge_joystick_horizontal_right{
                position: absolute;
                left: 132*0.75px;
                top: 90px;
                .jauge_container{
                    width: 100*0.75px;
                    height: 30*0.75px;
                    border: 1px solid black;
                    background:white;
                    box-shadow: 2px 0px 5px 0px grey;
                }
                .jauge_remplissage{
                    width:0%;
                    height: 30*0.75px;
                    background:yellowgreen;
                }
            }
            #jauge_joystick_vertical_top{
                position: absolute;
                left: 101*0.75px;
                .jauge_container{
                    height: 100*0.75px;
                    width: 30*0.75px;
                    border: 1px solid black;
                    background:yellowgreen;
                    box-shadow: 0px -2px 5px 0px grey;
                }
                .jauge_remplissage{
                    height:100%;
                    width: 30*0.75px;
                    background:white;
                }
            }
            #jauge_joystick_vertical_bot{
                position: absolute;
                left: 101*0.75px;
                top:203*0.75px;
                .jauge_container{
                    height: 100*0.75px;
                    width: 30*0.75px;
                    border: 1px solid black;
                    background:white;
                    box-shadow: 0px 2px 5px 0px grey;
                }
                .jauge_remplissage{
                    height:0%;
                    width: 30*0.75px;
                    background:yellowgreen;
                }
                .informations{
                    margin-top:6px;
                }
            }


            #jauge_joystick_horizontal_left_2{
                position: absolute;
                left: 0px;
                top: 90px;
                .jauge_container{
                    width: 100*0.75px;
                    height: 30*0.75px;
                    border: 1px solid black;
                    background:yellowgreen;
                    box-shadow: -2px 0px 5px 0px grey;
                }
                .jauge_remplissage{
                    width:100%;
                    height: 30*0.75px;
                    background:white;
                }
            }
            #jauge_joystick_horizontal_right_2{
                position: absolute;
                    left: 132*0.75px;
                    top: 90px;
                    .jauge_container{
                        width: 100*0.75px;
                        height: 30*0.75px;
                        border: 1px solid black;
                        background:white;
                        box-shadow: 2px 0px 5px 0px grey;
                    }
                    .jauge_remplissage{
                        width:0%;
                        height: 30*0.75px;
                        background:yellowgreen;
                    }
                }
                #jauge_joystick_vertical_top_2{
                    position: absolute;
                    left: 101*0.75px;
                    .jauge_container{
                        height: 100*0.75px;
                        width: 30*0.75px;
                        border: 1px solid black;
                        background:yellowgreen;
                        box-shadow: 0px -2px 5px 0px grey;
                    }
                    .jauge_remplissage{
                        height:100%;
                        width: 30*0.75px;
                        background:white;
                    }
                }
                #jauge_joystick_vertical_bot_2{
                    position: absolute;
                    left: 101*0.75px;
                    top:203*0.75px;
                    .jauge_container{
                        height: 100*0.75px;
                        width: 30*0.75px;
                        border: 1px solid black;
                        background:white;
                        box-shadow: 0px 2px 5px 0px grey;
                    }
                    .jauge_remplissage{
                        height:0%;
                        width: 30*0.75px;
                        background:yellowgreen;
                    }
                    .informations{
                        margin-top:6px;
                    }
                }

                #jauge_joystick_horizontal_left_3{
                    position: absolute;
                    left: 0px;
                    top: 90px;
                    .jauge_container{
                        width: 100*0.75px;
                        height: 30*0.75px;
                        border: 1px solid black;
                        background:yellowgreen;
                        box-shadow: -2px 0px 5px 0px grey;
                    }
                    .jauge_remplissage{
                        width:100%;
                        height: 30*0.75px;
                        background:white;
                    }
                }
                #jauge_joystick_horizontal_right_3{
                    position: absolute;
                    left: 132*0.75px;
                    top: 90px;
                    .jauge_container{
                        width: 100*0.75px;
                        height: 30*0.75px;
                        border: 1px solid black;
                        background:white;
                        box-shadow: 2px 0px 5px 0px grey;
                    }
                    .jauge_remplissage{
                        width:0%;
                        height: 30*0.75px;
                        background:yellowgreen;
                    }
                }
                #jauge_joystick_vertical_top_3{
                    position: absolute;
                    left: 101*0.75px;
                    .jauge_container{
                        height: 100*0.75px;
                        width: 30*0.75px;
                        border: 1px solid black;
                        background:yellowgreen;
                        box-shadow: 0px -2px 5px 0px grey;
                    }
                    .jauge_remplissage{
                        height:100%;
                        width: 30*0.75px;
                        background:white;
                    }
                }
                #jauge_joystick_vertical_bot_3{
                    position: absolute;
                    left: 101*0.75px;
                    top:203*0.75px;
                    .jauge_container{
                        height: 100*0.75px;
                        width: 30*0.75px;
                        border: 1px solid black;
                        background:white;
                        box-shadow: 0px 2px 5px 0px grey;
                    }
                    .jauge_remplissage{
                        height:0%;
                        width: 30*0.75px;
                        background:yellowgreen;
                    }
                    .informations{
                        margin-top:6px;
                    }
                }


            }
    }
    
    
    
    
}

