<div class="head_container">
    <div class="head_content">
        <div class="head_title">
            Test Bench User Interface
        </div>
        <div class="head_logo">
            <img src="images/logo_ge.png">
        </div>
        <div class="head_userinfo hidden">
            <div class="info">
                <div class="sso_user">4568A5454</div>
                <div class="role_user">Repair</div>
            </div>
            <div class="logo_user">
                <img src="images/user_logo.png">
            </div>
        </div>
    </div>
</div>