<div class="section_container">
    <div class="title title_main">Welcome to Test Bench Interface</div>
    <div class="block_role">
        <div class="title_bloc">Please choose your role:</div>
        <div class="bouton role_chose" data-link="homeE" id="eng_role">
            <img class="circle" src="images/logo_inge.png"><span class="text">Engineering</span>
        </div>
        <div class="bouton role_chose" data-link="home" id="repair_role">
            <img class="circle" src="images/logo_repa.png"><span class="text">Repair</span>
        </div>
    </div>
</div>