@charset "UTF-8";
/* line 2, ../sass/_header.scss */
#header .head_container {
  background: #3b73b9;
  color: white;
  text-align: center;
  height: 75px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
/* line 11, ../sass/_header.scss */
#header .head_container .head_content {
  display: inline-block;
  vertical-align: top;
  width: 1000px;
  position: relative;
}
/* line 16, ../sass/_header.scss */
#header .head_container .head_content .head_title {
  position: absolute;
  top: 20px;
  font-size: 30px;
}
/* line 21, ../sass/_header.scss */
#header .head_container .head_content .head_logo {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
/* line 26, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo {
  position: absolute;
  right: 0;
  top: 11px;
}
/* line 30, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo .info {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: 14px;
  padding-top: 6px;
}
/* line 43, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo .logo_user {
  display: inline-block;
  vertical-align: top;
}
/* line 46, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo .logo_user img {
  width: 50px;
  height: auto;
}

/* line 2, ../sass/_footer.scss */
#footer .footer_container {
  background: #3b73b9;
  color: white;
  text-align: center;
  height: 75px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
/* line 11, ../sass/_footer.scss */
#footer .footer_container .footer_content {
  width: 1000px;
  display: inline-block;
  vertical-align: top;
}
/* line 15, ../sass/_footer.scss */
#footer .footer_container .footer_content .footer_left {
  padding-top: 8px;
  display: inline-block;
  vertical-align: top;
  width: 48%;
}
/* line 21, ../sass/_footer.scss */
#footer .footer_container .footer_content .footer_right {
  padding-top: 17px;
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2017, 12:00:19
    Author     : J├®r├®my MOLLET
*/
/* line 1, ../sass/_homepage.scss */
#content_home {
  position: relative;
}
/* line 5, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 15px;
  background: #f3f3f3;
  min-height: 234px;
  margin: 8px;
}
/* line 13, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc {
  font-size: 22px;
  line-height: 1.8;
}
/* line 16, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone {
  top: 0px;
}
/* line 18, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input {
  border: none;
  height: 27px;
  border-bottom: 1px solid grey;
  background: #f3f3f3;
  width: 206px;
  padding-left: 15px;
  color: #3b73b9;
  font-size: 22px;
  font-family: inspira;
}
/* line 28, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input.inp1 {
  margin-left: 50px;
}
/* line 31, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input.inp2 {
  margin-left: 16px;
}
/* line 34, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input.inp3 {
  margin-left: 3px;
}
/* line 40, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .photo_tsui {
  width: 100%;
  height: auto;
}

/* line 50, ../sass/_homepage.scss */
#content_homeE {
  position: relative;
}
/* line 54, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 15px;
  background: #f3f3f3;
  min-height: 234px;
  margin: 8px;
}
/* line 62, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc {
  font-size: 22px;
  line-height: 1.8;
}
/* line 65, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc .input_zone {
  top: 0px;
}
/* line 67, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc .input_zone input {
  border: none;
  height: 27px;
  border-bottom: 1px solid grey;
  background: #f3f3f3;
  width: 206px;
  padding-left: 15px;
  color: #3b73b9;
  font-size: 22px;
  font-family: inspira;
}
/* line 77, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc .input_zone input.inp1 {
  margin-left: 50px;
}
/* line 80, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc .input_zone input.inp2 {
  margin-left: 16px;
}
/* line 83, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc .input_zone input.inp3 {
  margin-left: 3px;
}
/* line 88, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc #family_input_E {
  margin-left: 73px;
  height: 30px;
  width: 221px;
}
/* line 93, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .info_bloc #model_input_E {
  margin-left: 79px;
  height: 30px;
  width: 221px;
}
/* line 99, ../sass/_homepage.scss */
#content_homeE .section_container .bloc_container .bloc .photo_tsui {
  width: 100%;
  height: auto;
}

/* line 2, ../sass/_test.scss */
#content_hometest .bloc_test_container {
  text-align: center;
  margin-bottom: 40px;
}
/* line 5, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 10px;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
}
/* line 13, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .photo_tsui {
  width: 100%;
  height: auto;
}
/* line 17, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .line {
  cursor: pointer;
}
/* line 19, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .line:hover {
  color: #3b73b9;
}
/* line 22, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .line img {
  width: 33px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}
/* line 32, ../sass/_test.scss */
#content_hometest .menu_bouton {
  text-align: center;
}
/* line 34, ../sass/_test.scss */
#content_hometest .menu_bouton .bouton {
  text-align: left;
  width: 350px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 56px;
  height: 68px;
}

/* line 47, ../sass/_test.scss */
#content_pretest {
  margin-bottom: 50px;
}
/* line 49, ../sass/_test.scss */
#content_pretest .td_head {
  background: #3b73b9;
  color: white;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding-top: 10px;
}
/* line 57, ../sass/_test.scss */
#content_pretest .td {
  width: 13.9%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 63, ../sass/_test.scss */
#content_pretest .line {
  border-bottom: 1px solid grey;
  height: 40px;
}
/* line 67, ../sass/_test.scss */
#content_pretest .line.pressed .press {
  background-color: greenyellow;
}
/* line 72, ../sass/_test.scss */
#content_pretest .line.released .rel {
  background-color: greenyellow;
}
/* line 77, ../sass/_test.scss */
#content_pretest .line .photo_piece img {
  width: 60px;
  height: 40px;
}
/* line 82, ../sass/_test.scss */
#content_pretest .line .td {
  padding-top: 10px;
  height: 30px;
}
/* line 85, ../sass/_test.scss */
#content_pretest .line .td.photo_piece {
  padding-top: 0px;
}
/* line 88, ../sass/_test.scss */
#content_pretest .line .td.test_bt {
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: orange;
  border-radius: 7px;
  height: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 4px;
}
/* line 99, ../sass/_test.scss */
#content_pretest .line .td.totest {
  border: 2px solid black;
  padding: 0px;
  border-radius: 5px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: -10px;
  height: 25px;
  cursor: pointer;
  color: black;
}
/* line 110, ../sass/_test.scss */
#content_pretest .line .td.tested {
  border: none;
  padding: 0px;
  border-radius: 5px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: -10px;
  height: 25px;
  cursor: pointer;
  color: black;
}
/* line 124, ../sass/_test.scss */
#content_pretest .result_array {
  text-align: center;
  margin-top: 10px;
}
/* line 128, ../sass/_test.scss */
#content_pretest .bouton_grey {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
/* line 134, ../sass/_test.scss */
#content_pretest .bt_container {
  text-align: center;
}
/* line 137, ../sass/_test.scss */
#content_pretest .test_poppin {
  position: absolute;
  top: 986px;
  left: 0;
  right: 0;
  width: 310px;
  margin: auto;
  background: #f2f2f2;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
}
/* line 138, ../sass/_test.scss */
#content_pretest .test_poppin.hidden {
  display: none;
}
/* line 154, ../sass/_test.scss */
#content_pretest .informations {
  width: 100px;
  margin-bottom: 10px;
  height: 15px;
  margin-top: 15px;
}
/* line 159, ../sass/_test.scss */
#content_pretest .informations .zero {
  float: left;
}
/* line 163, ../sass/_test.scss */
#content_pretest .informations .cent {
  float: right;
}
/* line 167, ../sass/_test.scss */
#content_pretest .jauge_container_global {
  text-align: center;
}
/* line 170, ../sass/_test.scss */
#content_pretest .canvas_jauge {
  position: relative;
  width: 235px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}
/* line 179, ../sass/_test.scss */
#content_pretest .canvas_jauge .title_jauge {
  font-weight: bold;
  font-size: 26px;
}
/* line 184, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left {
  position: absolute;
  left: 0px;
  top: 132px;
}
/* line 188, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: -2px 0px 5px 0px grey;
}
/* line 195, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left .jauge_remplissage {
  width: 100%;
  height: 30px;
  background: white;
}
/* line 201, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right {
  position: absolute;
  left: 132px;
  top: 132px;
}
/* line 205, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 2px 0px 5px 0px grey;
}
/* line 212, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right .jauge_remplissage {
  width: 0%;
  height: 30px;
  background: yellowgreen;
}
/* line 218, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top {
  position: absolute;
  left: 101px;
}
/* line 221, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: 0px -2px 5px 0px grey;
}
/* line 228, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top .jauge_remplissage {
  height: 100%;
  width: 30px;
  background: white;
}
/* line 234, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot {
  position: absolute;
  left: 101px;
  top: 203px;
}
/* line 238, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 2px 5px 0px grey;
}
/* line 245, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot .jauge_remplissage {
  height: 0%;
  width: 30px;
  background: yellowgreen;
}
/* line 250, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot .informations {
  margin-top: 6px;
}
/* line 256, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left_2 {
  position: absolute;
  left: 0px;
  top: 132px;
}
/* line 260, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left_2 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: -2px 0px 5px 0px grey;
}
/* line 267, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left_2 .jauge_remplissage {
  width: 100%;
  height: 30px;
  background: white;
}
/* line 273, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right_2 {
  position: absolute;
  left: 132px;
  top: 132px;
}
/* line 277, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right_2 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 2px 0px 5px 0px grey;
}
/* line 284, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right_2 .jauge_remplissage {
  width: 0%;
  height: 30px;
  background: yellowgreen;
}
/* line 290, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top_2 {
  position: absolute;
  left: 101px;
}
/* line 293, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top_2 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: 0px -2px 5px 0px grey;
}
/* line 300, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top_2 .jauge_remplissage {
  height: 100%;
  width: 30px;
  background: white;
}
/* line 306, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_2 {
  position: absolute;
  left: 101px;
  top: 203px;
}
/* line 310, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_2 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 2px 5px 0px grey;
}
/* line 317, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_2 .jauge_remplissage {
  height: 0%;
  width: 30px;
  background: yellowgreen;
}
/* line 322, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_2 .informations {
  margin-top: 6px;
}
/* line 327, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left_3 {
  position: absolute;
  left: 0px;
  top: 132px;
}
/* line 331, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left_3 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: -2px 0px 5px 0px grey;
}
/* line 338, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_left_3 .jauge_remplissage {
  width: 100%;
  height: 30px;
  background: white;
}
/* line 344, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right_3 {
  position: absolute;
  left: 132px;
  top: 132px;
}
/* line 348, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right_3 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 2px 0px 5px 0px grey;
}
/* line 355, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_horizontal_right_3 .jauge_remplissage {
  width: 0%;
  height: 30px;
  background: yellowgreen;
}
/* line 361, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top_3 {
  position: absolute;
  left: 101px;
}
/* line 364, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top_3 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: 0px -2px 5px 0px grey;
}
/* line 371, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_top_3 .jauge_remplissage {
  height: 100%;
  width: 30px;
  background: white;
}
/* line 377, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_3 {
  position: absolute;
  left: 101px;
  top: 203px;
}
/* line 381, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_3 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 2px 5px 0px grey;
}
/* line 388, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_3 .jauge_remplissage {
  height: 0%;
  width: 30px;
  background: yellowgreen;
}
/* line 393, ../sass/_test.scss */
#content_pretest .canvas_jauge #jauge_joystick_vertical_bot_3 .informations {
  margin-top: 6px;
}
/* line 398, ../sass/_test.scss */
#content_pretest .canvas_jauge .calibrate_bt_1, #content_pretest .canvas_jauge .calibrate_bt_2, #content_pretest .canvas_jauge .calibrate_bt_3 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 350px;
}
/* line 404, ../sass/_test.scss */
#content_pretest .canvas_jauge .calibrate_bt_1 .calibrate_tool, #content_pretest .canvas_jauge .calibrate_bt_2 .calibrate_tool, #content_pretest .canvas_jauge .calibrate_bt_3 .calibrate_tool {
  border: 3px solid #3b73b9;
  border-radius: 5px;
  padding: 5px;
}
/* line 409, ../sass/_test.scss */
#content_pretest .canvas_jauge .calibrate_bt_1 .status_calib, #content_pretest .canvas_jauge .calibrate_bt_2 .status_calib, #content_pretest .canvas_jauge .calibrate_bt_3 .status_calib {
  color: #3b73b9;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 10px;
}
/* line 415, ../sass/_test.scss */
#content_pretest .canvas_jauge .calibrate_bt_1 .action_calib, #content_pretest .canvas_jauge .calibrate_bt_2 .action_calib, #content_pretest .canvas_jauge .calibrate_bt_3 .action_calib {
  font-size: 18px;
}
/* line 418, ../sass/_test.scss */
#content_pretest .canvas_jauge .calibrate_bt_1 .validate_calib, #content_pretest .canvas_jauge .calibrate_bt_2 .validate_calib, #content_pretest .canvas_jauge .calibrate_bt_3 .validate_calib {
  margin-top: 10px;
  background: #3b73b9;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  padding-top: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* line 438, ../sass/_test.scss */
#content_finaltest .print_tst {
  background: #3dbb4d;
}
/* line 441, ../sass/_test.scss */
#content_finaltest .instructions_testfinal {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: justify;
}
/* line 447, ../sass/_test.scss */
#content_finaltest #testfinal_container .bouton_grey {
  width: 140px;
}
/* line 451, ../sass/_test.scss */
#content_finaltest #stop_final_test {
  background: orangered;
}
/* line 454, ../sass/_test.scss */
#content_finaltest .name_test_container {
  background: #3b73b9;
  text-align: center;
  color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 465, ../sass/_test.scss */
#content_finaltest #symbol_name_t {
  font-size: 30px;
}
/* line 468, ../sass/_test.scss */
#content_finaltest #description_t {
  font-size: 20px;
}
/* line 471, ../sass/_test.scss */
#content_finaltest .img_t {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 200px;
  border: 5px solid #3b73b9;
  overflow: hidden;
}
/* line 478, ../sass/_test.scss */
#content_finaltest .img_t img {
  width: 100%;
  height: auto;
}
/* line 483, ../sass/_test.scss */
#content_finaltest #progress_bar_t {
  background: #3b73b9;
  text-align: center;
  height: 15px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  margin-top: 30px;
  position: relative;
}
/* line 493, ../sass/_test.scss */
#content_finaltest #progress_bar_t .inside_bar {
  height: 10px;
  background: #f5f5f5;
}
/* line 497, ../sass/_test.scss */
#content_finaltest #progress_bar_t .percent {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -21px;
  font-weight: bold;
  font-size: 18px;
}
/* line 507, ../sass/_test.scss */
#content_finaltest #recap_list_t {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 200px;
  border: 5px solid #3b73b9;
  background: #f5f5f5;
}
/* line 514, ../sass/_test.scss */
#content_finaltest #recap_list_t .title_recap {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 3px;
}
/* line 521, ../sass/_test.scss */
#content_finaltest #recap_list_t .content_recap {
  overflow-y: scroll;
  height: 170px;
  margin-top: 8px;
  text-align: right;
  padding-right: 15px;
}
/* line 528, ../sass/_test.scss */
#content_finaltest #recap_list_t .content_recap .line .type {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}
/* line 535, ../sass/_test.scss */
#content_finaltest #recap_list_t .content_recap .line .green {
  font-weight: bold;
  color: green;
}
/* line 539, ../sass/_test.scss */
#content_finaltest #recap_list_t .content_recap .line .red {
  font-weight: bold;
  color: red;
}
/* line 546, ../sass/_test.scss */
#content_finaltest .timer_bloc {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
  border: 5px solid #3b73b9;
  background: #f5f5f5;
  text-align: center;
  margin-left: 31px;
  margin-right: 31px;
  color: #3b73b9;
  font-weight: bold;
  font-size: 168px;
  text-shadow: 4px 4px black;
}
/* line 561, ../sass/_test.scss */
#content_finaltest .stop_test_bloc {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  height: 200px;
  border: 5px solid #3b73b9;
  background: #f5f5f5;
  text-align: center;
  margin-left: 26px;
}
/* line 570, ../sass/_test.scss */
#content_finaltest .stop_test_bloc .bouton_grey {
  display: inline-block;
  width: 181px !important;
  margin: 7px;
  margin-top: 35px;
}
/* line 576, ../sass/_test.scss */
#content_finaltest .stop_test_bloc .result_title {
  font-size: 30px;
  color: orangered;
  margin-top: 15px;
}

/* line 2, ../sass/_calibration.scss */
#content_calibration .bt_moins {
  border: 1px solid black;
  cursor: pointer;
  width: 28px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding-top: 3px;
}
/* line 14, ../sass/_calibration.scss */
#content_calibration .bt_plus {
  border: 1px solid black;
  cursor: pointer;
  width: 28px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding-top: 3px;
}
/* line 26, ../sass/_calibration.scss */
#content_calibration .intitule {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/* line 31, ../sass/_calibration.scss */
#content_calibration .toolbox_calibration {
  text-align: center;
}
/* line 34, ../sass/_calibration.scss */
#content_calibration .get_config {
  text-align: center;
  background: #f2f2f2;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
  height: 128px;
}
/* line 44, ../sass/_calibration.scss */
#content_calibration .get_config .bt_get_config {
  margin-bottom: 10px;
}
/* line 47, ../sass/_calibration.scss */
#content_calibration .get_config .config_info {
  text-align: left;
}
/* line 49, ../sass/_calibration.scss */
#content_calibration .get_config .config_info .text_config {
  font-weight: bold;
}
/* line 54, ../sass/_calibration.scss */
#content_calibration .eprom_protect {
  width: 199px;
  border: 2px solid #3b73b9;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
/* line 62, ../sass/_calibration.scss */
#content_calibration .eprom_protect .img_eprom {
  width: 35px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 69, ../sass/_calibration.scss */
#content_calibration .eprom_protect .txt_eprom {
  display: inline-block;
  vertical-align: middle;
}
/* line 73, ../sass/_calibration.scss */
#content_calibration .eprom_protect .bt_eprom {
  border-radius: 5px;
  background: #c4c4c4;
  font-weight: bold;
  text-align: center;
  height: 21px;
  padding-top: 3px;
  box-shadow: 1px 1px 1px black;
  width: 140px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 89, ../sass/_calibration.scss */
#content_calibration .realtime_joysticks_val {
  text-align: center;
  background: #f2f2f2;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
  margin-left: -19px;
  height: 128px;
  margin-top: 200px;
}
/* line 101, ../sass/_calibration.scss */
#content_calibration .realtime_joysticks_val .current_joystick {
  font-weight: bold;
}
/* line 104, ../sass/_calibration.scss */
#content_calibration .realtime_joysticks_val .bloc_left_joy {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border-right: 1px solid black;
  width: 100px;
}
/* line 112, ../sass/_calibration.scss */
#content_calibration .realtime_joysticks_val .bloc_right_joy {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
/* line 119, ../sass/_calibration.scss */
#content_calibration .download_tool {
  text-align: center;
  background: #f2f2f2;
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
/* line 129, ../sass/_calibration.scss */
#content_calibration .download_tool .title_download {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 133, ../sass/_calibration.scss */
#content_calibration .download_tool .content_upl {
  text-align: left;
  margin-top: -12px;
}
/* line 136, ../sass/_calibration.scss */
#content_calibration .download_tool .content_upl span {
  color: green;
  font-weight: bold;
}
/* line 141, ../sass/_calibration.scss */
#content_calibration .download_tool .start_download {
  border: 1px solid black;
  background: #3b73b9;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 8px;
  width: 122px;
  box-shadow: 1px 1px 1px black;
  margin-left: auto;
  margin-right: auto;
}
/* line 153, ../sass/_calibration.scss */
#content_calibration .download_tool .stop_download {
  border: 1px solid black;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 8px;
  width: 122px;
  box-shadow: 1px 1px 1px black;
  margin-left: auto;
  margin-right: auto;
}
/* line 165, ../sass/_calibration.scss */
#content_calibration .download_tool .downloading_bar_container {
  border: 1px solid black;
  height: 20px;
  margin-top: 6px;
  position: relative;
}
/* line 170, ../sass/_calibration.scss */
#content_calibration .download_tool .downloading_bar_container .downloading_bar {
  background: #b9e8ff;
  width: 0%;
  height: 20px;
}
/* line 175, ../sass/_calibration.scss */
#content_calibration .download_tool .downloading_bar_container .downloading_bar_content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
}
/* line 187, ../sass/_calibration.scss */
#content_calibration .jauge_container_global {
  text-align: center;
}
/* line 190, ../sass/_calibration.scss */
#content_calibration .canvas_jauge {
  position: relative;
  width: 235px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}
/* line 199, ../sass/_calibration.scss */
#content_calibration .canvas_jauge .title_jauge {
  font-weight: bold;
  font-size: 26px;
}
/* line 204, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left {
  position: absolute;
  left: 0px;
  top: 132px;
}
/* line 208, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: -2px 0px 5px 0px grey;
}
/* line 215, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left .jauge_remplissage {
  width: 100%;
  height: 30px;
  background: white;
}
/* line 221, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right {
  position: absolute;
  left: 132px;
  top: 132px;
}
/* line 225, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 2px 0px 5px 0px grey;
}
/* line 232, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right .jauge_remplissage {
  width: 0%;
  height: 30px;
  background: yellowgreen;
}
/* line 238, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top {
  position: absolute;
  left: 101px;
}
/* line 241, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: 0px -2px 5px 0px grey;
}
/* line 248, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top .jauge_remplissage {
  height: 100%;
  width: 30px;
  background: white;
}
/* line 254, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot {
  position: absolute;
  left: 101px;
  top: 203px;
}
/* line 258, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 2px 5px 0px grey;
}
/* line 265, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot .jauge_remplissage {
  height: 0%;
  width: 30px;
  background: yellowgreen;
}
/* line 270, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot .informations {
  margin-top: 6px;
}
/* line 276, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left_2 {
  position: absolute;
  left: 0px;
  top: 132px;
}
/* line 280, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left_2 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: -2px 0px 5px 0px grey;
}
/* line 287, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left_2 .jauge_remplissage {
  width: 100%;
  height: 30px;
  background: white;
}
/* line 293, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right_2 {
  position: absolute;
  left: 132px;
  top: 132px;
}
/* line 297, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right_2 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 2px 0px 5px 0px grey;
}
/* line 304, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right_2 .jauge_remplissage {
  width: 0%;
  height: 30px;
  background: yellowgreen;
}
/* line 310, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top_2 {
  position: absolute;
  left: 101px;
}
/* line 313, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top_2 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: 0px -2px 5px 0px grey;
}
/* line 320, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top_2 .jauge_remplissage {
  height: 100%;
  width: 30px;
  background: white;
}
/* line 326, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_2 {
  position: absolute;
  left: 101px;
  top: 203px;
}
/* line 330, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_2 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 2px 5px 0px grey;
}
/* line 337, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_2 .jauge_remplissage {
  height: 0%;
  width: 30px;
  background: yellowgreen;
}
/* line 342, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_2 .informations {
  margin-top: 6px;
}
/* line 347, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left_3 {
  position: absolute;
  left: 0px;
  top: 132px;
}
/* line 351, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left_3 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: -2px 0px 5px 0px grey;
}
/* line 358, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left_3 .jauge_remplissage {
  width: 100%;
  height: 30px;
  background: white;
}
/* line 364, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right_3 {
  position: absolute;
  left: 132px;
  top: 132px;
}
/* line 368, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right_3 .jauge_container {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 2px 0px 5px 0px grey;
}
/* line 375, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right_3 .jauge_remplissage {
  width: 0%;
  height: 30px;
  background: yellowgreen;
}
/* line 381, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top_3 {
  position: absolute;
  left: 101px;
}
/* line 384, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top_3 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: 0px -2px 5px 0px grey;
}
/* line 391, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top_3 .jauge_remplissage {
  height: 100%;
  width: 30px;
  background: white;
}
/* line 397, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_3 {
  position: absolute;
  left: 101px;
  top: 203px;
}
/* line 401, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_3 .jauge_container {
  height: 100px;
  width: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 2px 5px 0px grey;
}
/* line 408, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_3 .jauge_remplissage {
  height: 0%;
  width: 30px;
  background: yellowgreen;
}
/* line 413, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot_3 .informations {
  margin-top: 6px;
}
/* line 418, ../sass/_calibration.scss */
#content_calibration .canvas_jauge .calibrate_bt_1, #content_calibration .canvas_jauge .calibrate_bt_2, #content_calibration .canvas_jauge .calibrate_bt_3 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 60px;
}
/* line 424, ../sass/_calibration.scss */
#content_calibration .canvas_jauge .calibrate_bt_1 .calibrate_tool, #content_calibration .canvas_jauge .calibrate_bt_2 .calibrate_tool, #content_calibration .canvas_jauge .calibrate_bt_3 .calibrate_tool {
  border: 3px solid #3b73b9;
  border-radius: 5px;
  padding: 5px;
}
/* line 429, ../sass/_calibration.scss */
#content_calibration .canvas_jauge .calibrate_bt_1 .status_calib, #content_calibration .canvas_jauge .calibrate_bt_2 .status_calib, #content_calibration .canvas_jauge .calibrate_bt_3 .status_calib {
  color: #3b73b9;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 10px;
}
/* line 435, ../sass/_calibration.scss */
#content_calibration .canvas_jauge .calibrate_bt_1 .action_calib, #content_calibration .canvas_jauge .calibrate_bt_2 .action_calib, #content_calibration .canvas_jauge .calibrate_bt_3 .action_calib {
  font-size: 18px;
}
/* line 438, ../sass/_calibration.scss */
#content_calibration .canvas_jauge .calibrate_bt_1 .validate_calib, #content_calibration .canvas_jauge .calibrate_bt_2 .validate_calib, #content_calibration .canvas_jauge .calibrate_bt_3 .validate_calib {
  margin-top: 10px;
  background: #3b73b9;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  padding-top: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 457, ../sass/_calibration.scss */
#content_calibration .informations {
  width: 100px;
  margin-bottom: 10px;
  height: 15px;
  margin-top: 15px;
}
/* line 462, ../sass/_calibration.scss */
#content_calibration .informations .zero {
  float: left;
}
/* line 466, ../sass/_calibration.scss */
#content_calibration .informations .cent {
  float: right;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2017, 12:00:49
    Author     : J├®r├®my MOLLET
*/
/* line 1, ../sass/_toolbox.scss */
.ui-dialog-titlebar-close {
  position: absolute;
  right: -25px;
  top: -10px;
  border: 2px solid red;
  background: red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* line 13, ../sass/_toolbox.scss */
.ui-dialog.success-dialog {
  border: 2px solid #3b73b9;
  border-radius: 5px;
  padding: 15px;
  background: #f5f5f5;
}

/* line 20, ../sass/_toolbox.scss */
.ui-dialog-titlebar {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: #3b73b9;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 6px;
  color: white;
}

/* line 35, ../sass/_toolbox.scss */
#dialog-link-spybox {
  background: none;
  border: 3px solid #3b73b9;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

/* line 42, ../sass/_toolbox.scss */
#dialog-link-spybox, #dialog-link-sender, #dialog-link-calibration, #dialog-link-download {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  background: none;
  border: 3px solid #3b73b9;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  color: #3b73b9;
  background: #f2f2f2;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 1px grey;
}
/* line 57, ../sass/_toolbox.scss */
#dialog-link-spybox img, #dialog-link-sender img, #dialog-link-calibration img, #dialog-link-download img {
  width: 45px;
}

/* line 61, ../sass/_toolbox.scss */
.container_toolbox_bt {
  text-align: center;
}

/* line 68, ../sass/_toolbox.scss */
#dialog-spybox .option_line {
  margin-top: 5px;
  padding: 2px;
  text-align: center;
}
/* line 72, ../sass/_toolbox.scss */
#dialog-spybox .option_line button {
  width: 70px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}
/* line 79, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel {
  background: #d2d2e2;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
/* line 86, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .recap_filter {
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
}
/* line 91, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .is_different_canid {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  padding: 1px;
  cursor: pointer;
  margin-left: 8px;
}
/* line 98, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .is_different_canid img {
  width: 100%;
  height: auto;
}
/* line 102, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .is_different_canid.activated {
  border: 2px solid red;
  border-radius: 5px;
}
/* line 107, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .is_different_candata {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  padding: 1px;
  cursor: pointer;
  margin-left: 8px;
}
/* line 114, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .is_different_candata img {
  width: 100%;
  height: auto;
}
/* line 118, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .is_different_candata.activated {
  border: 2px solid red;
  border-radius: 5px;
}
/* line 123, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .bt_filter {
  position: absolute;
  top: 18px;
  right: 3px;
}
/* line 128, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel button {
  width: 32px;
  border-radius: 5px;
  margin: 0px;
  cursor: pointer;
}
/* line 133, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel button img {
  width: 100%;
  height: auto;
}
/* line 138, ../sass/_toolbox.scss */
#dialog-spybox .filter_panel .text {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}
/* line 144, ../sass/_toolbox.scss */
#dialog-spybox .head_line {
  border-bottom: 1px solid black;
  margin-top: 8px;
  height: 25px;
  font-weight: bold;
}
/* line 149, ../sass/_toolbox.scss */
#dialog-spybox .head_line span {
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}
/* line 154, ../sass/_toolbox.scss */
#dialog-spybox .head_line .canid_head {
  width: 100px;
  color: orangered;
}
/* line 158, ../sass/_toolbox.scss */
#dialog-spybox .head_line .candata_head {
  width: 150px;
  color: green;
}
/* line 162, ../sass/_toolbox.scss */
#dialog-spybox .head_line .number_head {
  width: 80px;
}
/* line 166, ../sass/_toolbox.scss */
#dialog-spybox .content_line {
  margin-top: 10px;
  height: 200px;
  overflow-y: scroll;
}
/* line 170, ../sass/_toolbox.scss */
#dialog-spybox .content_line span {
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}
/* line 175, ../sass/_toolbox.scss */
#dialog-spybox .content_line .can_id_spy {
  width: 100px;
}
/* line 178, ../sass/_toolbox.scss */
#dialog-spybox .content_line .can_data_spy {
  width: 150px;
}
/* line 181, ../sass/_toolbox.scss */
#dialog-spybox .content_line .nb {
  width: 80px;
}

/* line 188, ../sass/_toolbox.scss */
#dialog-sender .red {
  color: red;
}
/* line 191, ../sass/_toolbox.scss */
#dialog-sender .green {
  color: green;
}
/* line 194, ../sass/_toolbox.scss */
#dialog-sender .blue {
  color: blue;
}
/* line 197, ../sass/_toolbox.scss */
#dialog-sender .presentation_sender {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 201, ../sass/_toolbox.scss */
#dialog-sender .text_sender {
  width: 82px;
  display: inline-block;
  vertical-align: middle;
}
/* line 206, ../sass/_toolbox.scss */
#dialog-sender .input_bloc_sender {
  margin-bottom: 15px;
}
/* line 209, ../sass/_toolbox.scss */
#dialog-sender .error_sender {
  margin-top: 15px;
  font-weight: bold;
  color: red;
}
/* line 214, ../sass/_toolbox.scss */
#dialog-sender .result_sender {
  margin-top: 15px;
}
/* line 218, ../sass/_toolbox.scss */
#dialog-sender .length_msg {
  margin-bottom: 15px;
}
/* line 221, ../sass/_toolbox.scss */
#dialog-sender .text_ref {
  display: inline-block;
  vertical-align: middle;
  width: 82px;
}

/* line 2, ../sass/download.scss */
#content_download .download_tool {
  text-align: center;
  background: #f2f2f2;
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
/* line 12, ../sass/download.scss */
#content_download .download_tool .title_download {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 16, ../sass/download.scss */
#content_download .download_tool .content_upl {
  text-align: left;
  margin-top: -12px;
}
/* line 19, ../sass/download.scss */
#content_download .download_tool .content_upl span {
  color: green;
  font-weight: bold;
}
/* line 24, ../sass/download.scss */
#content_download .download_tool .start_download {
  border: 1px solid black;
  background: #3b73b9;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 8px;
  width: 122px;
  box-shadow: 1px 1px 1px black;
  margin-left: auto;
  margin-right: auto;
}
/* line 36, ../sass/download.scss */
#content_download .download_tool .stop_download {
  border: 1px solid black;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 8px;
  width: 122px;
  box-shadow: 1px 1px 1px black;
  margin-left: auto;
  margin-right: auto;
}
/* line 48, ../sass/download.scss */
#content_download .download_tool .downloading_bar_container {
  border: 1px solid black;
  height: 20px;
  margin-top: 6px;
  position: relative;
}
/* line 53, ../sass/download.scss */
#content_download .download_tool .downloading_bar_container .downloading_bar {
  background: #b9e8ff;
  width: 0%;
  height: 20px;
}
/* line 58, ../sass/download.scss */
#content_download .download_tool .downloading_bar_container .downloading_bar_content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
}
/* line 70, ../sass/download.scss */
#content_download .get_config {
  text-align: center;
  background: #f2f2f2;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
  height: 128px;
}
/* line 80, ../sass/download.scss */
#content_download .get_config .bt_get_config {
  margin-bottom: 10px;
}
/* line 83, ../sass/download.scss */
#content_download .get_config .config_info {
  text-align: left;
}
/* line 85, ../sass/download.scss */
#content_download .get_config .config_info .text_config {
  font-weight: bold;
}

@font-face {
  font-family: "inspira";
  src: url("font/GEInspira.woff");
}
/* line 6, ../sass/_global.scss */
body {
  background: white;
  margin: 0;
  font-family: inspira;
}

/* line 12, ../sass/_global.scss */
.page_content {
  display: none;
}
/* line 14, ../sass/_global.scss */
.page_content.active {
  display: block;
}

/* line 19, ../sass/_global.scss */
#main_container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 774px;
  padding-top: 50px;
}

/* line 27, ../sass/_global.scss */
.title_main {
  color: #3b73b9;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

/* line 34, ../sass/_global.scss */
.title_bloc {
  color: #3b73b9;
  text-align: center;
  font-size: 25px;
  margin-bottom: 13px;
}

/* line 41, ../sass/_global.scss */
.blue {
  color: #3b73b9;
}

/* line 44, ../sass/_global.scss */
.bouton, .calibration_bt {
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  background: #3b73b9;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
}
/* line 52, ../sass/_global.scss */
.bouton.role_chose, .calibration_bt.role_chose {
  display: inline-block;
  width: 306px;
  height: 66px;
  text-align: left;
  margin: 15px;
}
/* line 59, ../sass/_global.scss */
.bouton:last-child, .calibration_bt:last-child {
  margin-bottom: 0px;
}
/* line 62, ../sass/_global.scss */
.bouton:hover, .calibration_bt:hover {
  background: #3895d2;
  box-shadow: 3px 3px 3px grey;
}
/* line 66, ../sass/_global.scss */
.bouton .text, .calibration_bt .text {
  position: absolute;
  top: 14px;
  font-size: 32px;
  left: 118px;
}
/* line 72, ../sass/_global.scss */
.bouton .circle, .calibration_bt .circle {
  margin-left: 25px;
  margin-top: 7px;
  width: 54px;
}

/* line 80, ../sass/_global.scss */
.bouton_grey {
  box-shadow: 3px 3px 3px black;
  background: #3b73b9;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 37px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  padding-top: 6px;
  margin-top: 21px;
  cursor: pointer;
}
/* line 94, ../sass/_global.scss */
.bouton_grey:hover {
  background: #3895d2;
  box-shadow: 3px 3px 3px grey;
}

/* line 100, ../sass/_global.scss */
.listing_bloc {
  background: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
}
/* line 104, ../sass/_global.scss */
.listing_bloc .liste {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 30%;
  margin: 5px;
  font-size: 19px;
  padding: 5px;
  line-height: 1.6;
}

/* line 115, ../sass/_global.scss */
.hidden {
  display: none !important;
}

/* line 119, ../sass/_global.scss */
.block_role {
  text-align: center;
}

/* line 122, ../sass/_global.scss */
.connection_status {
  color: green;
}

/* line 126, ../sass/_global.scss */
.overlay_choice {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* line 132, ../sass/_global.scss */
.overlay_choice .content_overlay {
  background: white;
  width: 330px;
  text-align: center;
  font-size: 21px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}
